{% extends "base.jinja" %}

{% block content %}

<div class="details">
    <div class="d-flex flex-column justify-content-center align-items-center">
        <h2>vidéo ajouté!</h2>
        <a href="/video/{{id_video}}">Voir le video ajouté</a>
        <a href="/videos">voir les videos</a>
    </div>
</div>

{% endblock %}