{% extends "base.jinja" %}
{% block content %}


<div class="container">
    <h2 class="text-primary">Étiquettes</h2>
    <ul class="list-unstyled">
        {% for etiquette in etiquettes %}
        <li class="py-1">
            <a href="/recherche" class="btn btn-outline-dark">{{etiquette['libelle']}}</a>
        </li>
        {% endfor %}
    </ul>


</div>

{% endblock %}